html{
	margin: 0px;
	padding: 20px;
}
body{
	margin: 0px;
	padding: 10px;
	font-family:'Open Sans', Arial;
}
*{
	/*border: 1px solid #00FF21FF;*/
}


/*хэдер*/
header{
	overflow:hidden;
	margin-bottom: 20px;
	padding: 10px;
	min-width: 300px;
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
#headul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	align-items: stretch;
	margin: auto;
	padding: 0px;
	overflow:hidden;
}
#headul li{
	display: flex;
	padding: 0px;
	margin: 2px;	
}
#headul li a{
	display: flex;
	align-items: center;
}
.social-profile{
	color: white;
	background-color: #747474FF;
	text-decoration:none;
	padding: 0 10px 0 10px;
}
.social-facebook{
	width:30px;
	height:30px;
	background:#747474FF url('../img/social_facebook.png') no-repeat 5px 5px;
}
.social-twitter{
	width:30px;
	height:30px;
	background:#747474 url('../img/social_twitter.png') no-repeat 5px 5px;
}
.social-google-plus{
	width:30px;
	height:30px;
	background:#747474 url('../img/social_googleplus.png') no-repeat 5px 5px;
}
.social-profile:hover{
	background-color: #555;

}
.social-facebook:hover{
	background-color:#3b5998;
}
.social-twitter:hover{
	background-color:#22b1e5;
}
.social-google-plus:hover{
	background-color:#d94a38;
}


/*футер*/
footer{
	min-width: 300px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 12px;
	color: #808080FF
}