#continer3 main{
	display: flex;
	align-items:center;
	justify-content: center;
	padding: 10px;
	margin-top: 0px;
	background-color: #FFE;
	height: 300px;
}
/*#continer3 .leftd{
	height: 30px;
	width: 30px;
}
#continer3 .rightd{
	height: 30px;
	width: 30px;
}
#continer3 .midd{
	height: 600px;
	width: 600px;
	margin: 10px;
}*/